body{
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-size: 24;
}

label.sectionheader{
    font-size: 32;
    font-weight: bold;
    text-decoration: underline;
}

select, input, textarea{
    border-style: solid;
    border-radius: 10px;
}